{% extends 'base.html' %}

{% block subheader %}
    <h1>{{ test }}</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Test info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Description</td>
                        <td>{{ test.description }}</td>
                      </tr>
                      <tr>
                        <td>Num of questions</td>
                        <td>{{ test.questions.count }}</td>
                      </tr>
                      <tr>
                        <td>Num of runs</td>
                        <td>{{ test.test_results.count }}</td>
                      </tr>
                      <tr>
                        <td>Best result</td>
                        <td> {{best_result}} (user: {{best_user}})</td>
                      </tr>
                      <tr>
                        <td>Last run</td>
                        <td>{{ last_run }}</td>
                      </tr>
                      {% if continue_flag %}
                      <tr>
                        <td>Current open run</td>
                        <td>{{ time_start }}</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>

                {% if continue_flag %}
                <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-warning">Continue ▶️</a>
                </div>
                {% else %}
                <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>


<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Started</th>
        <th>Time spent</th>
        <th>Points</th>
    </tr>
    </thead>

{% for result in results %}

    <tr>
       <td>{{ forloop.counter}}</td>
       <td>{{ result.user }}</td>
       <td>{{ result.write_date }}</td>
       <td>{{ result.time_spent }}</td>
       <td>{{ result.points }}</td>
    </tr>


    {% endfor %}

</table>

{% endblock %}
