{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load math_funcs %}

{% block subheader %}
    <h1>Congratulations!</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{ test_result.test.title }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Correct answers</td>
                        <td>{{ test_result.num_correct_answer }} / {{ test_result.test.questions.count }}</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>{{ test_result.points }}</td>
                      </tr>
                      <tr>
                        <td>Score</td>
                          {% expr '%1/%2*100' test_result.num_correct_answer test_result.test.questions.count as correct_answers %}
                          <td>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                       role="progressbar" style="width: {{ test_result.score}}%"
                                       aria-valuenow="{{ correct_answers }}"
                                       aria-valuemin="0" aria-valuemax="100">
                                      {{ test_result.score|floatformat:1 }}%
                                  </div>
                                    {% expr '100 - %1' test_result.score as incorrect_answers %}
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                       style="width:{{ incorrect_answers }}%">
                                      {{ incorrect_answers }}%
                                  </div>

                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>Time finished</td>
                        <td>{{ test_result.write_date }}</td>
                      </tr>
                      <tr>
                        <td>Time spent</td>
                        <td>{{ test_result.time_spent }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{% static 'common/img/finish.jpg' %}">
                </div>

                <div class="d-flex justify-content-center mt-5 mb-5" >
                    <a href="{% url 'tests:list' %}" type="button" class="btn-lg btn-success">START ANOTHER TEST ▶️</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
