{% extends 'base.html' %}

{% block title %}
    <title> Leaderboard </title>
{% endblock  %}

{% block subheader %}
<header>Leaderboard</header>
{% endblock  %}

{% block content %}

{% if user %}

<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th></th>
        <th>Full name</th>
        <th>Rating</th>
    </tr>
    </thead>

    {% for user in users %}
    <tr>
       <td>{{ forloop.counter }}</td>
       <td>
           <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="100" height="100" src="{{ user.image.url }}">
            </div>
       </td>

       <td>{{ user.first_name }} {{  user.last_name  }}</td>
       <td>{{ user.rating | floatformat:0 }}</td>
    </tr>
    {% endfor %}

</table>

<input type="button" class="btn btn-outline-dark" value="Close" onClick='location.href="{% url 'core:index' %}"'/>
{% else %}
<p> List is empty </p>
{% endif %}

    {% endblock %}