{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load math_funcs %}

{% block subheader %}
    Question: <b>{{ question.text }}</b> ?

    {% expr '(%1-1)/%2*100' question.order_number question.test.questions.count as progress %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        Current question: {{ question.order_number }}/{{ question.test.questions.count }}
        <br>
        Possible answers:

        {{form_set.management_form}}

        {% for form in form_set %}

            <div class="mt-1">

                {{ form.is_selected }} <label>  {{ form.text.value }}</label>
            </div>

        {% endfor %}

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Submit</button>

        </div>
    </form>
{% endblock %}
