{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Test </title>
{% endblock  %}

{% block subheader %}
<header>Test</header>
{% endblock  %}

{% block content %}

{% if tests %}

<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Level</th>
        <th></th>
    </tr>
    </thead>

    {% for test in tests %}
    <tr>
       <td>
           <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="100" height="100" src="{{ test.image.url }}">
            </div>
       </td>

       <td>{{ test.title }}</td>
       <td>{{ test.description }}</td>
        <td>
            <div class="d-flex justify-content-center">
                <img class="rounded-circle p-1 m-1" width="80" height="80" src="{% static 'common/img/lvl_' %}{{test.get_level_display}}.png">
            </div>
        </td>
       <td><a href="{% url 'tests:details' id=test.id %}">DETAILS</a></td>
    </tr>
    {% endfor %}

</table>
{% else %}
<p> No tests yet </p>
{% endif %}

    {% endblock %}