{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title> Change password </title>
{% endblock  %}


{% block subheader %}
<header>Change password</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input class="btn btn-outline-dark" type="submit" value="Save">
        <a class="btn btn-outline-dark" href="{% url 'accounts:profile' %}">Cancel</a>
    </form>
{% endblock %}
