{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title> Contact Us </title>
{% endblock  %}


{% block subheader %}
<header>Contact Us</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input class="btn btn-outline-dark" type="submit" value="Send">
        <a class="btn btn-outline-dark" href="{% url 'core:index' %}">Home</a>
    </form>
{% endblock %}
