{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title> Login </title>
{% endblock  %}


{% block subheader %}
<header>Log in as a user</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input class="btn btn-outline-dark" type="submit" value="Log in">
        <a class="btn btn-outline-dark" href="{% url 'core:index' %}">Cancel</a>
    </form>
{% endblock %}
