{% extends "base.html" %}
{% load static %}

<head>
    {% block title %}
        <title> Error 400 </title>
    {% endblock %}
</head>

{% block subheader %}
<header>Error 400</header>
{% endblock  %}

{% block content %}
    <h2>Bad Request</h2>
    <p>You can return to <a href="/">Home</a></p>
{% endblock %}